<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="work.generalboard.GeneralBoardMapper">

	<select id="getList" resultType="work.generalboard.GeneralBoardVO">
	
		<![CDATA[
			select * from tbl_jw_general where bno > 0
		]]>
	
	</select>
	
	<select id="read" resultType="work.generalboard.GeneralBoardVO">
		select * from tbl_jw_general where bno = #{bno}
	</select>
	
	<insert id="insert">
		insert into tbl_jw_general (bno, title, content, writer)
		VALUES (seq_jw_generalboard.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select seq_jw_generalboard.nextval from dual
		</selectKey>
		
		insert into tbl_jw_general (bno, title, content, writer)
		values (#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<delete id="delete">
		delete from tbl_jw_general where bno = #{bno}
	</delete>

	<update id="update">
		update tbl_jw_general
		set title = #{title},
		content = #{content},
		writer = #{writer},
		updateDate = sysdate
		WHERE bno = #{bno};
	</update>
</mapper>
